 
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800;900&family=Roboto:wght@400;700;900&display=swap");
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #1b745e;
    box-sizing: border-box;
}
body {
    padding-top: 70px;
} 
h1 {
   
    font-size:3rem;
} 
h2{
    font-family: 'Courier New', monospace;
    text-align: center;
    font-size:3rem;
    margin-bottom: 30px; 
} 
.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:50px;
    width:30px;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.sidebar a{
    letter-spacing: 5px;
    justify-content: space-between;
    padding:20px;
    font-family: "Crimson Text",serif;
    font-style: italic;
} 
.sidebar a:hover{
    text-decoration: underline;
} 
 .btn{
    border-style: solid;
    border-width: 2px;
    letter-spacing: 3px;
    padding: 16px 46px 17px 45px;
    text-decoration: none;
    border-radius: 29px;
    border-color: #1b745e  ;
    background-color: transparent;
    }
.btn:hover { 
        text-decoration: none;
        color:white;
        background-color: #1b745e;
}
p{ 
        font-family: "Crimson Text",serif;
        font-style: italic;    
        text-align: center;        
}
a {
      text-decoration: none;   
}
.flex {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: center;
 }
 nav{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:50px;
    background-color: white;
 }
 

nav .flex{
    justify-content: space-between;
    text-align: auto;
 }
.nav-left img{ 
    width: 150px;
}
.nav-right a{ 
    font-family: Quicksand,sans-serif;
    margin-right: 30px;        
}
.nav-right img{ 
    height:25px;
}
.interduction .flex{ 
    height: 90vh;
    background-image:linear-gradient(rgba(255, 255, 255, 0.934),rgba(191, 222, 221, 0.527)),url("create.jpg");
    background-position:center;
    background-size: cover;
    flex-direction: column;
    
}

.interduction .flex h1{
    font-family: 'Kaushan Script', cursive;
    margin-top: 50px;
    margin-bottom: 30px;
}
.interduction .flex a:hover{
    background-color: #1b745e;
    color:white;
    text-decoration: none;
    
}
.sides{  
    display: block;
}
.sides p{
    font-size:1rem;
    margin-bottom: 30px;
}
.sides img {
    width:70%;
    height:270%;
}
.container{
    width: 30%;
    margin-right: 40px;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: 1px 3px  #1b745e;
}
.wrapper{
    width: 100%;
    display: flex;
    position: relative;
    animation: slide 10s infinite;
}
@keyframes slide{
    0%{transform: translateX(0);}
    25%{transform: translateX(0);}
    30%{transform: translateX(-100%);}
    50%{transform: translateX(-100%);}
    55%{transform: translateX(-200%);}
    75%{transform: translateX(-200%);}
    80%{transform: translateX(-300%);}
    100%{transform: translateX(-300%);}
}
.wrapper img{
    width: 100%;
}
.services {
    width:100%;
    padding: 70px 0;
 }
.services-box{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
 }
 .services-box .flex{
    flex: 1 0 21%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
}
.services-box .flex img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}
 .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    background:linear-gradient(rgba(255, 255, 255, 0.934),rgba(191, 222, 221, 0.527));
    opacity: 0;
    transition: 1s; 
} 
.services-box .flex:hover .overlay{
    opacity: 1;
}
.service-desc{
    position:absolute ;
    bottom:0;
    opacity: 0;
    transition: translateX(-50%);
    transition: 1s;
}
.services-box .flex:hover  .service-desc{
    bottom:37%;
    opacity: 1;
}
.service-desc h2{ 
    font-size: 2rem;
   
}
.service-desc a{ 
    padding: 9px 26px 10px 25px;
    border-radius: 19px;
}
.d-grid {
    width: 68%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin:auto;
  }
.d-grid .flex { 
    flex-basis: 33%;  
    border-style: none dotted none none;  
    border-width: 0.5px;
    padding: 10px; 
}
.d-grid .flex a{ 
    font-family: "Crimson Text",serif;
    font-style: italic;
    margin-top: 100px;;             
}
.special .flex{ 
   flex-direction: column;
   margin: 100px 0 100px;      
}
.treasure .flex { 
    background-image: url("bg2.jpg") ;
    justify-self: space-between;
    justify-content:right;
    gap:90px;
    align-items:right;
    text-align: right;
    margin:0;
    
                 
}
.contact{
    width: 100%;
    padding: 100px 0 20px;
    background: #e7f0e4;
    margin-top: 100px;
}
.contact-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left, .right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.social{
    text-align: center;
} 
.contact a , i {
    margin: 0 10px 0;
  }
.founder .flex{
    margin: 130px ;
    background-image: url("bg1.JPG") ;
    padding: 2%;
  }
  .founder .flex .flex {
    flex-direction: column;
  }
  
  .fotoja {
    display: flex;
    justify-content: right;
  }
  .fotoja img{
    margin-top:-710px;
    height: 650px;
    
  }

@media (max-width: 700px){
    body {
        padding-left: 25px;
    } 
    .nav-right { 
        display: none;
    }
    .nav-left { 
        display: flex;
        flex-direction: row;
        flex:1;
        justify-content: space-between; 
    }
    .menu-icon { 
        width: 150px;
        height: 35px;
        margin-top:10px;
        background-image: url("icon.JPG");
        background-repeat: no-repeat;
        background-position: right;
    }
    .menu-icon:hover { 
       cursor: pointer;
    }
    .treasure .flex {
        flex-direction: column;
        gap:0px;
    }
    .sides video , img{
        width: 100%;   
    }
    .container{ 
        width:90%;
        margin : 70px 30px  70px 30px;
    }
    .d-grid {
        grid-template-columns: auto;
    } 
    .services-box{
        flex-direction: column;
    }
    .contact-row{
        flex-direction: column;
    }
    .left, .right{
        flex-basis: 100%;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .founder .flex {
        margin: 50px 50px 0 50px;
        
    }
    .founder .flex h2 {
        font-size:1.2rem;
    }
    .fotoja {
        justify-content: center;
      }
    .fotoja img{
        margin-top :10px; 
        width: 100%;
        height:50%;
      }
    .why-us .flex{
        flex-direction: column;
      }
}






